@media (max-width: 1450px) {
  .header {
    h2 {
      font-size: 24px;
    }
    &-menu {
      gap: unset;
      &__item {
        a {
          font-size: 18px;
        }
      }
    }
    &-info {
      a {
        font-size: 18px;
      }
      P {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 640px;
  }
  .header {
    &-title {
      display: none;
    }
    &-menu {
      gap: unset;
      &__item {
        a {
          padding: 8px;
        }
      }
    }
  }
  .main {
    &-text,
    &-info {
      width: unset;
    }
  }
  .info {
    &-container {
      width: unset;
    }
  }
  .realization {
    &-container {
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
  .header {
    position: relative;
    min-height: 64px;
    &-title {
      display: block;
    }
    &-info {
      display: none;
    }
    &-menu {
      display: none;
      &-mobile {
        top: 0;
        bottom: 0;
        left: -100%;
        width: 70vw;
        color: #fff;
        padding: 24px;
        height: 100vh;
        display: flex;
        position: absolute;
        transition: 0.5s all;
        flex-direction: column;
        background-color: #000;
        justify-content: space-between;
        &-active {
          left: 0;
        }
        &-navigation {
          gap: 16px;
          width: 100%;
          display: flex;
          flex-direction: column;
          &-item {
            a {
              display: block;
              width: 100%;
              color: #fff;
              font-size: 18px;
              padding: 16px 16px 16px 0;
            }
          }
        }
        &-info {
          gap: 8px;
          display: flex;
          flex-direction: column;
        }
      }
    }

    &-burger {
      gap: 8px;
      width: 48px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      span {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 16px;
        transition: 0.3s all;
        background-color: #000;
      }

      &-active {
        span {
          &:nth-child(2) {
            display: none;
          }
          &:first-child {
            transform: rotate(45deg);
          }
          &:last-child {
            transform: rotate(-45deg);
            margin-top: -12px;
          }
        }
      }
    }
  }
  .main {
    padding: 32px 0;
    h1 {
      font-size: 28px;
    }
    &-info {
      grid-template-columns: 1fr;
    }
  }
  .subtitle {
    font-size: 18px;
  }
  .info {
    &-card {
      p {
        font-size: 16px;
      }
    }
  }
  .title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 32px 0;
  }
  .subtitle {
    font-size: 18px;
  }
  .title {
    font-size: 28px;
  }
  .info {
    &-container {
      grid-template-columns: 1fr;
    }
  }
  .realization {
    &-info {
      &-image {
        height: 160px;
      }
      &-card {
        padding: 16px;
        flex-direction: column;
        img {
          width: 280px;
          height: 200px;
        }
      }
    }
  }
}
